footer{
    @include flex (flex, space-between);
    position: relative;
    .redes-footer{
        display: inline-block;
        margin: 0px 50px;
        h2{
            font-family: 'Poppins', sans-serif;
            font-size: 25px;
            font-weight: 200;
            color: nth($colores, 3);
        }
        a{
            img{
                width: 50px;
                height: 50px;
                display: block;
                position: relative;
                left: 50px;
                margin-top: 20px;
            }
        }
    }
    .pagos-footer{
        position: relative;
        left: 30px;
        div{
            display: inline-block;
            margin: 0px 50px;
            h2{
                font-family: 'Poppins', sans-serif;
                font-size: 25px;
                font-weight: 200;
                color: nth($colores, 3);
            }
            div{
                display: grid;
                grid-template-rows: 115px 115px 115px;
                grid-template-columns: 115px 115px 115px;
                position: relative;
                top: 20px;
                right: 100px;
            }
        }
    }
    section{
        .envios-titulo{
            display: inline-block;
            margin: 0px 50px;
            h2{
                font-family: 'Poppins', sans-serif;
                font-size: 25px;
                font-weight: 200;
                color: nth($colores, 3);
            }
        }
        .envios-img{
            display: flex;
            position: relative;
            top: 10px;
            ;
            .envios{
                img{
                    width: 120px;
                    height: 60px;
                    position: relative;
                    left: 120px;
                    top: 100px;
                }
            }
        }
    }
    .masinfo-titulo{
        display: inline-block;
        margin: 0px 50px;
        h2{
            font-family: 'Poppins', sans-serif;
            font-size: 25px;
            font-weight: 200;
            color: nth($colores, 3);
        }
        div{
            ul{
                li{
                    font-family: 'Poppins', sans-serif;
                    font-size: 20px;
                    list-style: none;
                    position: relative;
                    top: 20px;
                    right: 30px;
                    a{
                        text-decoration: none;
                        color: nth($colores, 1);
                        &:hover{
                            color: nth($colores, 2);
                            transition-duration: 3s;
                        }
                    }
                }
            }
        }
    }
}