header{
    nav{
        div{
            @include flex (flex, space-between);
            a{
                img{
                    width: 150px;
                    margin: 20px;
                    display: flex;
                }
            }
            .buscar{
                padding-top: 50px;
                input{
                    width: 700px;
                    height: 40px;
                    padding: 10px;
                    color: nth($colores, 5);
                    outline: none;
                    border-radius: 30px;
                    background-color: nth($colores, 4);
                    border: 1px solid #8f1a26;
                }
            }
            ul{
                @include flex (flex, flex-end);
                margin: 40px;
                list-style: none;
                padding-bottom: 20px;
                li{
                    a{
                        text-decoration: none;
                        font-family: 'Poppins', sans-serif;
                        color: nth($colores, 3);
                        margin: 10px;
                    }
                }
            }
        }
    }
}